{% extends 'base.html.twig' %}

{% block title %}Edit an author{% endblock %}

{% block body %}
<div class="content">
    <h3 class="title">Edit an author</h3>
        
        {{ form_start(form) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.authority_link) }}
        <button class="btn btn-primary d-block ml-auto">Enregistrer</button>
        {{ form_end(form) }}
    
</div>

{% endblock %}